.animate__rollIn {
    font-size: 5rem;
    width: 290px;
    padding: 60px;
    margin: 0 auto;
}

/* Imágen Chihiro */
.container div:nth-child(1n) figure:first-of-type img {
    width: 274px;
}

/* Imágen Dragón Haku */
.container div:nth-child(2n) figure:last-of-type img {
    width: 425px;
}

ul {
    width: 70%;
    justify-content: flex-start;
}

/* Burbujas Nav */
a {
    font-size: 2.6rem;
    width: 170px;
    height: 160px;
    border-radius: 83px;
}

ul li:nth-child(2n) a {
    width: 136px;
    height: 136px;
}

ul li:nth-child(3n) a {
    width: 166px;
    height: 159px;
    border-radius: 104px;
    z-index: 1;
}

.container div:nth-child(3n) {
    height: 156px;
}

.container div:nth-child(4n) {
    height: 155px;
}

/* Pantalla History */
.nav-h1 figure img {
    width: 498px;
}

.container-history nav ul {
    width: 132px;
}

.container-history header nav i {
    font-size: 2rem;
}

.container-history main p {
    font-size: 1.8rem;
    margin-bottom: 0;
    width: 70%;
}

.history section figure img {
    width: 205px;
}

/* Pantalla Author */
.author figure img {
    width: 216px;
}

.footer-author figure img {
    width: 224px;
}

.footer-author div {
    width: 294px;
}

.footer-author div:last-of-type ul {
    margin-bottom: 0;
}

.footer-author div:last-of-type li a{
    height: 31px;
    border-radius: 0%;
    text-align: center;
}

@media (min-width: 1440px) {
    .author nav i {
        font-size: 2rem;
    }

    .author figure img {
        width: 268px;
    }

    .author h1 {
        font-size: 3rem;
    }

    .section-author article p {
        font-size: 2rem;
    }

    .footer-author div {
        width: 340px;
    }

    .footer-author h2 {
        font-size: 2rem;
        font-size: 1.6rem;

    }

    .footer-author div:last-of-type li a {
        font-size: 2rem;
        width: 300px;
        margin-bottom: 13px;
    }

    .footer-author figure img {
        width: 271px;
    }
}

/* Pantalla Characters */
.footer-characters nav ul{
    width: unset;
}
.footer-characters a {
    width: 100%;
    height: unset;
}

@media (min-width: 1440px) {

    .container-characters nav i {
        font-size: 2rem;
    }

    .haku figure {
        width: 21%;
    }

    .haku figure img {
        width: 239px;
    }

    .haku h1 {
        font-size: 6rem;
    }

    .haku article p {
        font-size: 3rem;
    }
}

@media (min-width: 1440px) {

    .titulo-inspiracion {
        font-size: 6rem;
    }

    .jiufen h2 {
        font-size: 3.6rem;
    }

    .jiufen p {
        font-size: 2.3rem;
    }

    .jiufen figure img {
        width: 100%;
    }

    .dogo h2 {
        font-size: 3rem;
    }

    .dogo p {
        font-size: 1.9rem;
    }
}