.animate__rollIn {
    font-size: 5rem;
    width: 290px;
    padding: 60px;
    margin: 0 auto;
}

/* Chihiro img */
.container div:nth-child(1n) figure:first-of-type img {
    width: 274px;
}

/* Haku dragon img */
.container div:nth-child(2n) figure:last-of-type img {
    width: 416px;
}

.nav-index ul {
    width: 70%;
    justify-content: flex-start;
}

/* Nav bubbles*/

.container-index nav ul {
    width: 621px;
    height: unset;
    justify-content: flex-start;
}

.nav-index a {
    font-size: 2rem;
    width: 98px;
    height: 92px;
    border-radius: 83px;
}

.nav-index ul li:nth-child(2n) a {
    width: 124px;
    height: 119px;
}

.nav-index ul li:nth-child(3n) a {
    width: 124px;
    height: 115px;
    border-radius: 104px;
}

.container div:nth-child(3n) {
    height: 156px;
}

.container div:nth-child(4n) {
    height: 155px;
}

/* History screen */

.arrow {
    width: 69px;
}

.nav-h1 figure img {
    width: 498px;
}

.container-history header nav i {
    font-size: 2rem;
}

.container-history main p {
    font-size: 1.8rem;
    margin-bottom: 0;
    width: 70%;
}

.history figure img {
    width: 605px;
}

/* Author screen */
.author figure img {
    width: 216px;
}

.footer-author figure img {
    width: 224px;
}

.footer-author div {
    width: 294px;
}

.footer-author div:last-of-type ul {
    margin-bottom: 0;
}

.footer-author div:last-of-type li a{
    height: 31px;
    border-radius: 0%;
    text-align: center;
}

/* Characters screen */
.footer-characters nav ul{
    width: unset;
}

.footer-characters a {
    width: 100%;
    height: unset;
}

@media (min-width: 1440px) {

    /* Index  screen */
    .nav-index a {
        font-size: 3rem;
        width: 139px;
        height: 140px;
    }

    .nav-index ul li:nth-child(3n) a {
        width: 201px;
        height: 206px;
    }

    .nav-index ul li:nth-child(2n) a {
        width: 172px;
        height: 161px;
    }

    /* History screen */
    .arrow {
        width: 100px;
    }

    .container-history header nav i {
        font-size: 3rem;
    }

    .history article h1 {
        font-size: 5rem;
    }

    .container-history main p {
        font-size: 2.4rem;
    }

    /* Author screen */
    .author nav i {
        font-size: 2rem;
    }

    .author figure img {
        width: 268px;
    }

    .author h1 {
        font-size: 3rem;
    }

    .section-author article p {
        font-size: 2rem;
    }

    .footer-author div {
        width: 340px;
    }

    .footer-author h2 {
        font-size: 2rem;
        font-size: 1.6rem;

    }

    .footer-author div:last-of-type li a {
        font-size: 2rem;
        width: 300px;
        margin-bottom: 13px;
    }

    .footer-author figure img {
        width: 271px;
    }

    /* Characters screen */
    .container-characters nav ul {
        width: 67px;
        padding: 0;
    }

    .container-characters nav i {
        font-size: 2rem;
    }

    .haku figure {
        width: 21%;
    }

    .haku figure img {
        width: 239px;
    }

    .haku h1 {
        font-size: 6rem;
    }

    .haku article p {
        font-size: 3rem;
    }

    /* Inspiration screen*/
    .titulo-inspiracion {
        font-size: 6rem;
    }

    .jiufen h2 {
        font-size: 3.6rem;
    }

    .jiufen p {
        font-size: 2.3rem;
    }

    .jiufen figure img {
        width: 100%;
    }

    .dogo h6 {
        font-size: 3rem;
    }

    .dogo p {
        font-size: 1.9rem;
    }
}