header{
    padding: 0.1px;
    background: var(--gradient);
    overflow: hidden;
}

/*  Primer div */
header:nth-child(1n) div:first-child{
    height: 100vh;
    padding: 0.1px;
    overflow: hidden;
    background-image: var(--gradient-header-clouds);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 100%;
    height: 76vh;
}

/* H1 */
.animate__tada{
    font-family: var(--fuente-title);
    font-size: 3rem;
    color: var(--color-h1);
    background: var(--radial-gradient-h1);
    box-shadow: var(--box-shadow-h1);
    text-align: center;
    border-radius: 64%;
    width: 158px;
    padding: 22px;
    margin: 0;
    line-height: normal;
}

figure{
    margin: 0;
}

/* Primer imágen: Chihiro */
figure:first-child img{
    position: fixed;
    bottom: 0px;
    width: 50%;
    z-index: 1;
    filter: var(--filter-image-chihiro);
}

/* Segunda imágen: Haku */
figure:nth-child(2n) img{
    width: calc(61% + 10vw);
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0px;
    filter: var(--filter-image-haku);
}

/* Primer div de las Wave */
.container div:nth-child(3n){
    height: calc(7px + 20vw);
    overflow: hidden;
    filter: var(--filter-image-wave-lightblue);
}

/* Segundo div de las Wave */
.container div:nth-child(4n){
    height: calc(7px + 20vw);
    overflow: hidden;
    filter: var(--filter-image-wave-blue);
}

.wave{
    position: absolute;
    width: 100%;
    bottom: 0;
}

nav{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: var(--background-image-nav);
    background-position: center;
    background-size: contain;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 15px;
    width: 90%;
    height: 45vh;
}

ul:first-of-type li:first-of-type{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

li{
    display: flex;
    align-items: center;
    justify-content: start;  
}

ul:last-of-type li:last-of-type{
    display: flex;
    align-items: center;
    justify-content: end;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.7rem;
    font-family: var(--fuente-title);
    font-weight: bolder;
    color: #0c1853;
    text-shadow: 1px 2px 0px #ffffff;
    width: 100px;
    height: 100px;
    border-radius: 55px;
    background: linear-gradient( 217deg, rgb(251 117 241), rgba(255, 0, 0, 0) 70.71% ), linear-gradient(127deg, rgb(135 249 135), rgb(2 241 255) 70.71%);
    box-shadow: 0px 19px 21px 2px #050937;
    border: 3px solid #f5deb399;
}

ul li:nth-child(2n) a{
    rotate: 7deg;
    width: 80px;
    height: 80px;
}

ul li:nth-child(3n) a{
    rotate: -6deg;
    width: 120px;
    height: 120px;
    border-radius: 68px;
}

i{
    font-size: 5rem;
    color: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}