header{
    padding: 0.1px;
    background-image: linear-gradient(to top, #30cfd0 54%, #FF914D , #FF3131 100%);
    overflow: hidden;
}

/*  Primer div */
header:nth-child(1n) div:first-child{
    height: 100vh;
    padding: 0.1px;
    overflow: hidden;
    background-image: linear-gradient(to top,#795548b3 8%, #ff572200 25%), url(../image/img-header/nube.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

section{
    width: 100%;
    height: 76vh;
}

.animate__tada{
    font-family: 'Pak Kumis', sans-serif;
    font-size: calc(0.6rem + 10vw);
    color: #523327;
    background: radial-gradient(#FFDE59 -28%, #ff5722eb 100%);
    box-shadow: 1px 4px 62px 18px #ffc1078f;
    text-align: center;
    border-radius: 100px;
    width: 41%;
    padding: 18px;
    margin: 2px 0px 0px 5px;
    line-height: normal;
    animation-name: tada;
}

figure{
    margin: 0;
}

figure:first-child img{
    position: fixed;
    bottom: 0px;
    width: 50%;
    z-index: 1;
    filter: drop-shadow(2px 4px 3px black);
}

figure:nth-child(2n) img{
    width: calc(61% + 10vw);
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0px;
    filter: drop-shadow(2px 4px 6px black);
}

/* Primer div de las Wave */
section div:first-of-type{
    height: calc(7px + 20vw);
    overflow: hidden;
    filter: drop-shadow(0px -6px 0px #e1e7eb);
}

/* Segundo div de las Wave */
section div:last-of-type{
    height: calc(7px + 20vw);
    overflow: hidden;
    filter: drop-shadow(0px -8px 0px #3838c1);
}

.wave{
    position: absolute;
    width: 100%;
    bottom: 0;
}

nav{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(to top, #021723 0%, #0099ff 99%), url(../image/img-header/burbujas.png);
    background-image: linear-gradient(to top, #021723b8 0%, #0099ff 97%), url(../image/img-header/burbujas.png);
    background-position: center;
    background-size: contain;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Primer ul*/
nav ul:first-child{
    height: 60vh;
    align-items: start;
}

/* Segundo ul*/
nav ul:last-child{
    height: 40vh;
    align-items: end;
}

/* Primer ul: img */
nav:first-of-type ul:first-of-type li:first-of-type img{
    width: calc(44% + 19vw);
    position: relative;
    filter: drop-shadow(2px 20px 19px #0e5477);
} 

nav:first-of-type ul:first-of-type li:last-of-type img{
    width: 69%;
    position: relative;
    z-index: 0;
    filter: drop-shadow(2px 20px 19px #032335);
}

/* Segundo ul: img */
nav:last-of-type ul:last-of-type li:first-of-type img{
    width: 87%;
    position: relative;
    filter: drop-shadow(2px 20px 19px #032335);
}