@import url(normalize.css);
@import url(mobile.css);
@import url(tablet.css) screen and (min-width: 768px);
@import url(laptop.css) screen and (min-width: 1024px);

@import url('https://fonts.cdnfonts.com/css/pak-kumis');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,300&display=swap');

:root{

    /* Paleta de colores */
    --gradient:linear-gradient(to top, #30cfd0 54%, #FF914D , #FF3131 100%);
    --gradient-header-clouds: linear-gradient(to top,#795548b3 8%, #ff572200 25%), url(../image/img-index/nube.jpg);
    --color-h1: #523327;
    --radial-gradient-h1: radial-gradient(#FFDE59 -28%, #ff5722eb 100%);
    --box-shadow-h1: 1px 4px 62px 18px #ffc107;
    --filter-image-chihiro: drop-shadow(2px 4px 3px #000000);
    --filter-image-haku: drop-shadow(2px 4px 6px #000000);
    --filter-image-wave-lightblue: drop-shadow(0px -6px 0px #e1e7eb);
    --fill-path: #0099ff;
    --background-image-nav: linear-gradient(to top, #021723b8 0%, #0099ff 99%), url(../image/img-index/burbujas.png);
    --background-a: linear-gradient( 217deg, #fb75f1, #ff000000 70.71% ), linear-gradient(127deg, #87f987, #02f1ff 70.71%);
    --box-shadow-a: 0px 19px 21px 2px #050937;
    --border-a: 3px solid #f5deb399;
    --color-a: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    --nav-index-a: #0c1853;
    --text-shadow-nav-a: 1px 2px 0px #ffffff;
    --backgrund-image-history: radial-gradient(circle at top right, #ff7b1b 0%, #ff7b1b 48%,#f46606 48%, #f46606 53%,#fc9e09 53%, #fc9e09 56%,#ffb606 56%, #ffb606 69%,#ffcd04 69%, #ffcd04 100%), url(../image/img-history/nube.png);
    --arrow-i: #FFEB3B;
    --black: #000000;
    --history-article-h1: -3px 2px 0px #f7d39e;
    --history-main-p: #1a0700;
    --history-main-background: #ffffff73;
    --shadow-history-p: 0 8px 32px 0 #1f26875e;
    --border-history-p: 1px solid #ffffff2e;
    --shadow-history-text-p: -1px 1px 3px #f5deb3;
    --history-figure-img: drop-shadow(8px 0px 6px #000000);
    --history-container-author-background:linear-gradient(to top, #30cfd0ad 3%, #ff914dbd 54%, #ff3131bd 81%),url(../image/img-author/poster.jpg);
    --author-h1: #052d41;
    --author-h1-border: 1px solid #ffbc00;
    --author-h1-box-shadow: 1px 5px 0px 4px #631f0a;
    --author-h1-text-shadow: -1px 0px 0px #f7f5f0;
    --section-author-article-p-background: #ffffff8c;
    --section-author-article-p-boxshadow: 0 8px 32px 0 #1f26875e;
    --section-author-article-p-border: 1px solid #ffffff2e;
    --footer-author-div: #001416c4;
    --footer-h2: #f2f7fc;
    --footer-author-a: #00ffea;
    --a-hover: #7fff00;
    --footer-author-figure-img: drop-shadow(15px 20px 9px #000000);
    --container-characters-nav-i: #FFEB3B;
    --haku: linear-gradient(to top, #30cfd0ad 3%, #ff914dbd 54%, #ff3131bd 81%),url(../image/img-characters/haku/dragon.jpg);
    --wave2: drop-shadow(0px -13px 0px #ff5722eb);
    --wave3: drop-shadow(0px 13px 0px #30cfd0);
    --wave4: drop-shadow(0px -7px 0px aliceblue);
    --haku-figure: drop-shadow(-13px 10px 4px #f0f8ff80);
    --haku-figure-img: drop-shadow(-13px 10px 4px #000000d4);
    --haku-h1-text-shadow: 1px 2px 0px wheat;
    --haku-h1-background-image: linear-gradient(to top, #7ce2ef 0%, #FF9800 100%);
    --haku-h1-border: 1px solid #795548;
    --haku-article-p-text-shadow: -1px 1px 1px white;
    --haku-article-p-background: rgba( 255, 255, 255, 0.55 );
    --haku-article-p-box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    --haku-article-p-border: 1px solid rgba( 255, 255, 255, 0.18 );
    --chihiro-background-image: linear-gradient(to top, #30cfd0ad 3%, #ff914dbd 54%, #ff3131bd 81%),url(../image/img-characters/chihiro/house.jpg);
    --yubaba-background-image: linear-gradient(to top, #30cfd0ad 3%, #ff914dbd 54%, #ff3131bd 81%),url(../image/img-characters/yubaba/poster.jpg);
    --lin-background-image: linear-gradient(to top, #30cfd0ad 3%, #ff914dbd 54%, #ff3131bd 81%),url(../image/img-characters/lin/limpiando.jpg);
    --kamaji-background-image: linear-gradient(to top, #30cfd0ad 3%, #ff914dbd 54%, #ff3131bd 81%),url(../image/img-characters/kamaji/kamaji1.jpg);
    --susuwatari-background-image: linear-gradient(to top, #30cfd0ad 3%, #ff914dbd 54%, #ff3131bd 81%),url(../image/img-characters/susuwatari/susuwatari1.jpg);
    --sincara-background-image: linear-gradient(to top, #30cfd0ad 3%, #ff914dbd 54%, #ff3131bd 81%),url(../image/img-characters/sincara/poster.jpg);
    --bo-background-image: linear-gradient(to top, #30cfd0ad 3%, #ff914dbd 54%, #ff3131bd 81%),url(../image/img-characters/bo/poster.jpg);
    --zeniba-background-image: linear-gradient(to top, #30cfd0ad 3%, #ff914dbd 54%, #ff3131bd 81%),url(../image/img-characters/zeniba/zeniba1.jpg);
    --footer-characters-background-image: linear-gradient(to top, #30cfd0ad 3%, #ff914dbd 54%, #ff3131bd 81%);
    --titulo-inspiracion-background-image: linear-gradient(to top, #30cfd0ba 3%, #ff914d 54%, #ff313199 81%), url(../image/img-inspiration/flowers.jpg);
    --jiufen-background-image: linear-gradient(to top, #30cfd073 3%, #ff914d8f 54%, #ff31317a 81%),url(../image/img-inspiration/jiufen/jiufen2.jpg);
    --wave3-filter: drop-shadow(0px 7px 0px aliceblue);
    --jiufen-p-background: rgba( 255, 255, 255, 0.4 );
    --jiufen-p-box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    --jiufen-p-border: 1px solid rgba( 255, 255, 255, 0.18 );
    --arrow-i-box-shadow: 2px 3px 0px 1px #795548;
    --dogo-background-image: linear-gradient(to top, #30cfd073 3%, #ff914d8f 54%, #ff31317a 81%),url(../image/img-inspiration/dogo/dogo.jpg);
    --author-figure-img-filter: drop-shadow(15px 20px 9px var(--black));

    /* Fuentes */
    --fuente-title:'Pak Kumis', sans-serif;
    --fuente-p: 'Noto Sans', sans-serif;

}