.animate__rollIn {
    font-size: 4rem;
    width: 210px;
    padding: 32px;
}

.container div:nth-child(1n) figure:first-of-type img  {
    width: 34%;
}

.container div:nth-child(2n) figure:last-of-type img  {
    width: 57%;
}