.animate__rollIn {
    font-size: 4rem;
    width: 210px;
    padding: 32px;
}

.container div:nth-child(1n) figure:first-of-type img  {
    width: 34%;
}

.container div:nth-child(2n) figure:last-of-type img  {
    width: 57%;
    bottom: 0px;
}

.container-index nav ul {
    width: 57%;
    height: 53vh;
}

/* Pantalla History */
.container-history {
    justify-content: unset;
}

.container-history header {
    height: 31vh;
}

.nav-h1 figure img{
    filter: var(--filter-image-haku);
}

.container-history .nav-h1 h1 {
    font-size: 4rem;
}

.container-history main p {
    font-size: 1.5rem;
}

.history section figure img {
    width: 64%;
}

/* Pantalla Author */
.author nav {
    width: 67px;
}

.author nav i {
    padding: 7px;
}

.author figure img {
    width: 65%;
}

.author h1 {
    padding: 40px;
}

.section-author article p {
    font-size: 1.5rem;
}

.footer-author {
    height: unset;
}

.footer-author div {
    margin-left: 11%;
    width: 226px;
    padding: 14px;

}

.footer-author figure img {
    width: 27%;
}

/* Pantalla Characters */

.haku h1 {
    font-size: 5rem;
}

.haku article p {
    font-size: 2rem;
}

/* Pantalla Inspiration*/
.jiufen p {
    font-size: 1.6rem;
}

.dogo p {
    font-size: 1.6rem;
}

.dogo figure img {
    width: 55%;
}